//
// Lists.scss
// --------------------------------------------------
ul, ol {
    margin: 0 0 0.5em;
    padding: 0;
}

ol {
    list-style-position: inside;
}

ul {
    list-style: none;
}

ul li > ul,
ol li > ol {
    padding: 0 0 0 15px;
}

dd {
    margin: 0 0 0 40px;
}